<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/organizer">
            <i class="fa fa-briefcase fa-fw"></i>MyEventGroup
        </a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">
        {if ($user->admin == 1)}
            <li><a href="/admin"><i class="fa fa-user-secret fa-fw"></i> Admin Panel</a></li>
        {/if}
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> {echo $user->name}  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="/organizer"><i class="fa fa-gear fa-fw"></i> Dashboard</a></li>
                <li><a href="/organizer/faq"><i class="fa fa-user fa-fw"></i> Contact</a></li>
                <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
                <li class="divider"></li>
                
            </ul>
        </li>
    </ul>
</nav>

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li><a href="/organizer"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a></li>
            <li>
                <a href="#"><i class="fa fa-user fa-fw"></i> Profile<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="/organizer/settings">Settings</a></li>
                    <li><a href="/organizer/messages">Messages</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-building-o fa-fw"></i> Company<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="/organizer/addCompany">Add</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-graduation-cap fa-fw"></i> My Events<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="/e/create">Create</a></li>
                    <li><a href="/e/manage">Manage</a></li>
                </ul>
            </li>
            <li><a href="/organizer/resources"><i class="fa fa-wrench fa-fw"></i> Resources</a></li>
        </ul>
    </div>
</nav>