<div class="modal fade login-register in" id="popup-login" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <button type="button" class="close close-btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <div class="form-background">
            <div class="col-sm-12 popup-form">
                <div class="form-header color">
                    <h1 class="section-title">
                        <span class="icon-inner"><span class="fa-stack"><i class="fa rhex fa-stack-2x"></i><i class="fa fa-ticket fa-stack-1x"></i></span></span>
                        <span class="title-inner">Login</span>
                    </h1>
                </div>
                <form method="post" action="/login" class="registration-form alt">
                    <div class="row">
                        <div class="col-sm-12 form-alert"></div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input type="text" name="email" required="required" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="E-mail" title="" data-toggle="tooltip" class="form-control input-password" data-original-title="Email is required">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input type="password" name="password" required="required" placeholder="password" title="" data-toggle="tooltip" class="form-control input-password" data-original-title="Password">
                            </div>
                        </div>
                        <input type="hidden" name="action" value="login">
                        <div class="col-sm-12">
                            <div class="text-center">
                                <button type="submit" class="btn btn-theme btn-block submit-button animated flipInY visible" data-animation-delay="100" data-animation="flipInY"> Log in <i class="fa fa-arrow-circle-right"></i></button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="form-footer" style="background-color: #0d1d31;">
                    <button id="fbLogin" type="submit" class="btn btn-theme btn-theme-dark btn-block submit-button" data-animation-delay="100" data-animation="flipInY"><i class="fa fa-facebook-square"></i> Continue with facebook</button>
                </div>
            </div>
        </div>
    </div>
</div>
