<!DOCTYPE html>
<html>
<head>
	<title>Ticket</title>
</head>
<body>
	<table style="width: 100%;" border="1">
		<tr>
			<td>
				<table>
					<tr>
						<td>Event</td>
						<td align="right">{$event->title}</td>
					</tr>
					<tr>
						<td>Location</td>
						<td align="right">{$location->address}, {$location->city}</td>
					</tr>
					<tr>
						<td>Time</td>
						<td align="right">{$event->start} to {$event->end}</td>
					</tr>
					<tr>
						<td>Price</td>
						<td align="right">INR {$ticket->price}</td>
					</tr>
					<tr>
						<td>Attendee</td>
						<td align="right">{$user->name}</td>
					</tr>
					<tr>
						<td>Email</td>
						<td align="right">{$user->email}</td>
					</tr>
				</table>
			</td>
			<td>
				<table>
					<tr>
						<td align="right">
							<small>{$booking->created}</small>
						</td>
					</tr>
					<tr>
						<td align="right">
							<small>{$booking->id}</small>
						</td>
					</tr>
					<tr>
						<td align="right">
							<img src="/auth/barcode/{$booking->id}">
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<br><hr>
	<center><a href="/">Go to Home</a></center>
</body>
</html>