
sftp-config.json

application/configuration/database.ini

# Exclude any backup files
*.bak

# OSX
.DS_Store
.DS_Store?
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db