<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{echo strip_tags($seo->getDescription())}" />
        <meta name="keywords" content="{echo strip_tags($seo->getKeywords())}">

        <title>{echo $seo->getTitle()}</title>

        <!-- Favicons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{echo CDN}ico/apple-touch-icon-144-precomposed.png">
        <link rel="shortcut icon" href="{echo CDN}ico/favicon.ico">

        <!-- CSS Global -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href="{echo CDN}css/main.css" rel="stylesheet">
        
        <!--[if lt IE 9]>
        <script src="{echo CDN}plugins/iesupport/html5shiv.js"></script>
        <script src="{echo CDN}plugins/iesupport/respond.min.js"></script>
        <![endif]-->
    </head>
    <body id="home" class="wide body-light multipage">

        <!-- Wrap all content -->
        <div class="wrapper">
            {include layouts/navigation/standard.html}
            {ayield action}

            <!-- FOOTER -->
            <footer class="footer">
                <div class="footer-widgets">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="widget widget-about">
                                    <h4 class="widget-title">About Us</h4>
                                    <p>MyEventGroup is a full-service event management company in Mumbai dedicated to quality and excellence. Since our establishment, we have continuously strived towards the flawless execution of events. We manage events across all major cities in India and abroad.</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="widget widget-categories">
                                    <h4 class="widget-title">Features</h4>
                                    <ul>
                                        <li><a href="/e/inquiry">Online Registration</a></li>
                                        <li><a href="/e/inquiry">Sell Event Tickets</a></li>
                                        <li><a href="/e/inquiry">Post Events</a></li>
                                        <li><a href="/services">Online Event Management</a></li>
                                        <li><a href="/services">Event Payment</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="widget widget-twitter">
                                    <h4 class="widget-title">Contact Us</h4>
                                    <address>
                                        <div><i class="fa fa-phone"></i>+91 973 072 7914</div>
                                        <div><i class="fa fa-envelope"></i> <a href="mailto:info@myeventgroup.com">info@myeventgroup.com</a></div>
                                        <div><i class="fa fa-globe"></i> House no 1, Rajdeep Society Nigdi Pune, Maharashtra - 411019</div>
                                    </address>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="footer-meta footer-meta-alt">
                    <div class="container">

                        <div class="row">
                            <div class="col-md-9 col-sm-6">
                                <ul class="footer-menu">
                                    <li><a href="/about">About</a></li>
                                    <li><a href="/contact">Contact</a></li>
                                    <li><a href="/services">Services</a></li>
                                    <li><a href="https://www.facebook.com/myeventgroup">Facebook</a></li>
                                    <li><a href="https://twitter.com/MyEventGroup">Twitter</a></li>
                                    <li>Developed by <a href="https://wwww.cloudstuffs.com">www.cloudstuffs.com</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <form action="#" class="country-select">
                                    <div class="form-group">
                                        <select class="selectpicker" data-width="100%">
                                            <option>India</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </footer>
            <!-- /FOOTER -->

            <div class="to-top"><i class="fa fa-angle-up"></i></div>
        

        </div> <!-- /Wrap all content -->
        
        {include layouts/other/login.html}
        
        <!-- JS Global -->
        <script src="{echo CDN}js/main.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
        <script src="{echo CDN}js/theme.js"></script>
        <script src="{echo CDN}js/public-1.0.js"></script>
    </body>

</html>
