<section class="page-section image breadcrumbs overlay">
    <div class="container">
        <h1>EVENT DETAILs</h1>
        <ul class="breadcrumb">
            <li><a href="/home">Home</a></li>
            <li><a href="/e/all">Events</a></li>
            <li class="active">{echo $event->title}</li>
        </ul>
    </div>
</section>
<!-- PAGE -->
<section class="page-section with-sidebar sidebar-right first-section light">
    <div class="container">
        <!-- Content -->
        <section id="content" class="content col-sm-12 col-md-8 col-lg-9">
            <div class="owl-carousel img-carousel">
                <div class="item">
                    <img class="img-responsive" src="{echo CDN}uploads/images/{echo $event->headerImage}" alt="" />
                </div>
            </div>
            <hr class="page-divider transparent half" />
            
            <h1 class="section-title">
                <span class="icon-inner"><span class="fa-stack"><i class="fa rhex fa-stack-2x"></i><i class="fa fa-star fa-stack-1x"></i></span></span>
                <span class="title-inner">{echo $event->title}</small></span>
            </h1>
            <p class="font_roboto font_size16">{echo $event->description}</p>
            <hr class="page-divider transparent" />
            <hr class="page-divider line large" />
            
            <h1 class="section-title">
                <span class="icon-inner"><span class="fa-stack"><i class="fa rhex fa-stack-2x"></i><i class="fa fa-ticket fa-stack-1x"></i></span></span>
                <span class="title-inner">Register now <small> / dont mıss event!</small></span>
            </h1>
            <form id="registration-form" name="registration-form" class="registration-form registration-form-alt" action="#" method="post">
                <div class="row">
                    <div class="col-sm-12 form-alert"></div>
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group with-icon">
                            <i class="fa fa-user"></i>
                            <input type="text" class="form-control input-name" data-toggle="tooltip" title="Name is required" placeholder="Name and Surname" />
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group with-icon">
                            <i class="fa fa-globe"></i>
                            <input type="text" class="form-control input-email" data-toggle="tooltip" title="Mail is required" placeholder="Your Mail Here" />
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group selectpicker-wrapper">
                            <select class="selectpicker input-price" data-live-search="true" data-width="100%" data-toggle="tooltip" title="Select Your Price Tab">
                                <option>Select Your Price Tab</option>
                                <option>$100</option>
                                <option>$200</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 overflowed">
                        <div class="text-center margin-top">
                            <button class="btn btn-theme btn-theme-xl submit-button" type="submit"> Register Now <i class="fa fa-arrow-circle-right"></i></button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- -->
            <hr class="page-divider line large" />
            <!-- -->
            <h1 class="section-title">
                <span class="icon-inner"><span class="fa-stack"><i class="fa rhex fa-stack-2x"></i><i class="fa fa-star fa-stack-1x"></i></span></span>
                <span class="title-inner">You May Like</span>
            </h1>
            <div class="thumbnails events">
                <div class="carousel-slider">
                    <div class="owl-carousel slide-3">
                        {foreach $e in $similar}
                        <div class="isotope-item festival">
                            <div class="thumbnail no-border no-padding">
                                <div class="media">
                                    <a href="/e/details/{echo Framework\StringMethods::url($e->title)}/{echo $e->id}" class="like"><i class="fa fa-heart"></i></a>
                                    <div class="date">
                                        <span>{echo Framework\StringMethods::only_date($e->start)}</span>
                                    </div>
                                    <img src="{echo CDN}uploads/images/{$e->listingImage}" alt="">
                                    <div class="caption hovered"></div>
                                </div>
                                <div class="caption">
                                    <h3 class="caption-title">
                                        <a href="/e/details/{echo Framework\StringMethods::url($e->title)}/{echo $e->id}">{echo $e->title}</a>
                                    </h3>
                                    <p class="caption-category"><i class="fa fa-file-text-o"></i> {echo Framework\StringMethods::only_date($e->start)}</p>
                                    <p class="caption-category"> <i class="fa fa-map-marker"></i> Manhattan / New York</p>
                                    {script $ticket = Ticket::first(array("event_id = ?" => $e->id), array("price", "currency"))}
                                    {if $ticket->price == 0}
                                    <p class="caption-price">Tickets are <strong>Free!!</strong></p>
                                    {/if}
                                    {else}
                                    <p class="caption-price">Tickets from {echo $ticket->currency} {echo $ticket->price}</p>
                                    {/else}
                                    <p class="caption-text">{$e->description}</p>
                                    <p class="caption-more">
                                        <a href="/e/details/{echo Framework\StringMethods::url($e->title)}/{echo $e->id}" class="btn btn-theme">Tickets &amp; details</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        {/foreach}
                    </div>
                </div>
            </div>
        </section>
        <!-- /Content -->
        <hr class="page-divider transparent visible-xs" />
        <!-- Sidebar -->
        <aside id="sidebar" class="sidebar col-sm-12 col-md-4 col-lg-3">
            <div class="widget">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    When &amp; Where
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul>
                                    <li>{$location->street}</li>
                                    <li>{$location->area}</li>
                                    <li>{$location->city}</li>
                                    <li>From {echo Framework\StringMethods::datetime_to_text($event->start)}</li>
                                    <li>To {echo Framework\StringMethods::datetime_to_text($event->end)}</li>
                                </ul>
                                <div title="Add to Calendar" class="addeventatc">
                                    Add to My Calendar
                                    <span class="start">{$event->start}</span>
                                    <span class="end">{$event->end}</span>
                                    <span class="timezone">Asia/Kolkata</span>
                                    <span class="title">{$event->title}</span>
                                    <span class="description">{$event->description}</span>
                                    <span class="location">{$location->street}, {$location->area}, {$location->city}</span>
                                    <span class="organizer">MyEventGroup.com</span>
                                    <span class="organizer_email">info@myeventgroup.com</span>
                                    <span class="all_day_event">false</span>
                                    <span class="date_format">YYYY-MM-DD</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Organizer
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <p>{echo $organizer->name}</p>
                                <ul>
                                    <li><i class="fa fa-facebook"></i> facebook.com/imorganiser</li>
                                    <li><i class="fa fa-twitter"></i> @imorganiser</li>
                                    <li><i class="fa fa-globe"></i> http://www.organiserweb.com</li>
                                </ul>
                                <a href="#" class="btn btn-theme btn-theme-grey-dark btn-theme-md">Send Message <i class="fa fa-plus-circle"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <!-- /Sidebar -->
    </div>
</section>
<!-- /PAGE -->

<!-- AddEvent -->
<script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js"></script>