<section class="page-section image breadcrumbs overlay">
    <div class="container">
        <h1>EVENT DETAILs</h1>
        <ul class="breadcrumb">
            <li>
                <a href="/home">Home</a>
            </li>
            <li>
                <a href="/event-list">Events</a>
            </li>
            <li class="active">{echo $event->title}</li>
        </ul>
    </div>
</section>
<!-- PAGE -->
<section class="page-section with-sidebar sidebar-right first-section light">
    <div class="container">
        <!-- Content -->
        <section id="content" class="content col-sm-12 col-md-8 col-lg-9">
            <div class="owl-carousel img-carousel">
                <div class="item">
                    <img class="img-responsive" src="{echo CDN}uploads/images/{echo $event->headerImage}" alt="" />
                </div>
            </div>
            <!-- -->
            <hr class="page-divider transparent half" />
            <!-- -->
            <h1 class="section-title">
                <span class="icon-inner"><span class="fa-stack"><i class="fa rhex fa-stack-2x"></i><i class="fa fa-star fa-stack-1x"></i></span></span>
                <span class="title-inner">{echo $event->title}</small></span>
            </h1>
            <p class="font_roboto font_size16">{echo $event->description}</p>
            <p class="btn-row">
                <a href="/e/register/{echo $event->id}" class="btn btn-theme btn-theme-xl scroll-to">Register <i class="fa fa-arrow-circle-right"></i></a>
                <a href="#" class="btn btn-theme btn-theme-xl btn-theme-transparent">Watch video</a>
            </p>
            <!-- -->
            <hr class="page-divider transparent" />
            <!-- -->
            
            <hr class="page-divider line" />
            <!-- -->
            <h1 class="section-title clearfix">
                <span class="icon-inner"><span class="fa-stack"><i class="fa rhex fa-stack-2x"></i><i class="fa fa-user fa-stack-1x"></i></span></span>
                <span class="title-inner">Event Price list <small> / perfect price for event</small></span>
            </h1>
            <div class="row price-tables">
                <div class="col-xsp-6 col-sm-6 col-md-6 col-lg-4">
                    <div class="price-table">
                        <div class="price-table-header">
                            <div class="price-label">
                                <h2 class="price-label-title">Personal</h2>
                            </div>
                            <div class="price-value">
                                <span class="price-number">111</span><span class="price-unit">$</span><span class="price-per"></span>
                            </div>
                        </div>
                        <div class="price-table-rows">
                            <div class="price-table-row"><i class="fa fa-check-circle-o"></i> Lorem ipsum dolor sit amet</div>
                            <div class="price-table-row odd"><i class="fa fa-check-circle-o"></i> Consectetur adipiscing elit</div>
                            <div class="price-table-row"><i class="fa fa-check-circle-o"></i> Sed vitae diam metus</div>
                            <div class="price-table-row odd"><i class="fa fa-check-circle-o"></i> Donec cursus magna</div>
                            <div class="price-table-row-bottom">
                                <a class="btn btn-theme scroll-to" href="#">Register</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xsp-6 col-sm-6 col-md-6 col-lg-4">
                    <div class="price-table featured">
                        <div class="price-table-header">
                            <div class="price-label">
                                <h2 class="price-label-title">Company</h2>
                            </div>
                            <div class="price-value">
                                <span class="price-number">124</span><span class="price-unit">$</span><span class="price-per"></span>
                            </div>
                        </div>
                        <div class="price-table-rows">
                            <div class="price-table-row"><i class="fa fa-check-circle-o"></i> Lorem ipsum dolor sit amet</div>
                            <div class="price-table-row odd"><i class="fa fa-check-circle-o"></i> Consectetur adipiscing elit</div>
                            <div class="price-table-row"><i class="fa fa-check-circle-o"></i> Sed vitae diam metus</div>
                            <div class="price-table-row odd"><i class="fa fa-check-circle-o"></i> Donec cursus magna</div>
                            <div class="price-table-row-bottom">
                                <a class="btn btn-theme scroll-to" href="#">Register</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xsp-6 col-sm-6 col-md-6 col-lg-4">
                    <div class="price-table">
                        <div class="price-table-header">
                            <div class="price-label">
                                <h2 class="price-label-title">Business</h2>
                            </div>
                            <div class="price-value">
                                <span class="price-number">175</span><span class="price-unit">$</span><span class="price-per"></span>
                            </div>
                        </div>
                        <div class="price-table-rows">
                            <div class="price-table-row"><i class="fa fa-check-circle-o"></i> Lorem ipsum dolor sit amet</div>
                            <div class="price-table-row odd"><i class="fa fa-check-circle-o"></i> Consectetur adipiscing elit</div>
                            <div class="price-table-row"><i class="fa fa-check-circle-o"></i> Sed vitae diam metus</div>
                            <div class="price-table-row odd"><i class="fa fa-check-circle-o"></i> Donec cursus magna</div>
                            <div class="price-table-row-bottom">
                                <a class="btn btn-theme scroll-to" href="#">Register</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- -->
            <hr class="page-divider line large" />
            <!-- -->
            <div class="row">
                <div class="col-md-8 pull-left">
                    <h1 class="section-title">
                        <span class="icon-inner"><span class="fa-stack"><i class="fa rhex fa-stack-2x"></i><i class="fa fa-question fa-stack-1x"></i></span></span>
                        <span class="title-inner">Event FAQS <small> / find your answers</small></span>
                    </h1>
                </div>
                <div class="col-md-4 text-right-md pull-right">
                    <a href="#" class="btn btn-theme btn-theme-lg btn-theme-transparent-grey pull-right"><i class="fa fa-pencil"></i> Open a ticket</a>
                </div>
            </div>
            <div class="row faq-alt">
                <div class="col-md-6">
                    <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne1">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                                        How to make New Event ?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne1">
                                <div class="panel-body">
                                    Praesent ac sem in neque venenatis tristique. Morbi et ligula velit. Nullam a augue vel mi porta vestibulum non ac elit. Vivamus convallis tortor et. Hac habitasse platea dictumst.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo1">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1" aria-expanded="false" aria-controls="collapseTwo1">
                                        How to make New Event ?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo1">
                                <div class="panel-body">
                                    Praesent ac sem in neque venenatis tristique. Morbi et ligula velit. Nullam a augue vel mi porta vestibulum non ac elit. Vivamus convallis tortor et. Hac habitasse platea dictumst.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree1">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1" aria-expanded="false" aria-controls="collapseThree1">
                                        How to make New Event ?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree1">
                                <div class="panel-body">
                                    Praesent ac sem in neque venenatis tristique. Morbi et ligula velit. Nullam a augue vel mi porta vestibulum non ac elit. Vivamus convallis tortor et. Hac habitasse platea dictumst.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne2">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
                                        How to make New Event ?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne2">
                                <div class="panel-body">
                                    Praesent ac sem in neque venenatis tristique. Morbi et ligula velit. Nullam a augue vel mi porta vestibulum non ac elit. Vivamus convallis tortor et. Hac habitasse platea dictumst.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo2">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                                        How to make New Event ?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo2">
                                <div class="panel-body">
                                    Praesent ac sem in neque venenatis tristique. Morbi et ligula velit. Nullam a augue vel mi porta vestibulum non ac elit. Vivamus convallis tortor et. Hac habitasse platea dictumst.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree2">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2">
                                        How to make New Event ?
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree2">
                                <div class="panel-body">
                                    Praesent ac sem in neque venenatis tristique. Morbi et ligula velit. Nullam a augue vel mi porta vestibulum non ac elit. Vivamus convallis tortor et. Hac habitasse platea dictumst.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- -->
            <hr class="page-divider line large" />
            <!-- -->
            <h1 class="section-title">
                <span class="icon-inner"><span class="fa-stack"><i class="fa rhex fa-stack-2x"></i><i class="fa fa-ticket fa-stack-1x"></i></span></span>
                <span class="title-inner">Register now <small> / dont mıss event!</small></span>
            </h1>
            <form id="registration-form" name="registration-form" class="registration-form registration-form-alt" action="#" method="post">
                <div class="row">
                    <div class="col-sm-12 form-alert"></div>
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group with-icon">
                            <i class="fa fa-user"></i>
                            <input type="text" class="form-control input-name" data-toggle="tooltip" title="Name is required" placeholder="Name and Surname" />
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group with-icon">
                            <i class="fa fa-globe"></i>
                            <input type="text" class="form-control input-email" data-toggle="tooltip" title="Mail is required" placeholder="Your Mail Here" />
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group selectpicker-wrapper">
                            <select class="selectpicker input-price" data-live-search="true" data-width="100%" data-toggle="tooltip" title="Select Your Price Tab">
                                <option>Select Your Price Tab</option>
                                <option>$100</option>
                                <option>$200</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 overflowed">
                        <div class="text-center margin-top">
                            <button class="btn btn-theme btn-theme-xl submit-button" type="submit"> Register Now <i class="fa fa-arrow-circle-right"></i></button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- -->
            <hr class="page-divider line large" />
            <!-- -->
            <h1 class="section-title">
                <span class="icon-inner"><span class="fa-stack"><i class="fa rhex fa-stack-2x"></i><i class="fa fa-star fa-stack-1x"></i></span></span>
                <span class="title-inner">You May Like</span>
            </h1>
            <div class="thumbnails events">
                <div class="carousel-slider">
                    <div class="owl-carousel slide-3">
                        {foreach $e in $similar}
                        <div class="isotope-item festival">
                            <div class="thumbnail no-border no-padding">
                                <div class="media">
                                    <a href="/e/details/{echo Framework\StringMethods::url($e->title)}/{echo $e->id}" class="like"><i class="fa fa-heart"></i></a>
                                    <div class="date">
                                        <span>{echo Framework\StringMethods::only_date($e->start)}</span>
                                    </div>
                                    <img src="{echo CDN}uploads/images/{$e->listingImage}" alt="">
                                    <div class="caption hovered"></div>
                                </div>
                                <div class="caption">
                                    <h3 class="caption-title">
                                        <a href="/e/details/{echo Framework\StringMethods::url($e->title)}/{echo $e->id}">{echo $e->title}</a>
                                    </h3>
                                    <p class="caption-category"><i class="fa fa-file-text-o"></i> {echo Framework\StringMethods::only_date($e->start)}</p>
                                    <p class="caption-category"> <i class="fa fa-map-marker"></i> Manhattan / New York</p>
                                    {script $ticket = Ticket::first(array("event_id = ?" => $e->id), array("price", "currency"))}
                                    <p class="caption-price">Tickets from {echo $ticket->currency} {echo $ticket->price}</p>
                                    <p class="caption-text">{$e->description}</p>
                                    <p class="caption-more">
                                        <a href="#" class="btn btn-theme">Tickets &amp; details</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        {/foreach}
                    </div>
                </div>
            </div>
        </section>
        <!-- /Content -->
        <hr class="page-divider transparent visible-xs" />
        <!-- Sidebar -->
        <aside id="sidebar" class="sidebar col-sm-12 col-md-4 col-lg-3">
            <div class="widget">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    When &amp; Where
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul>
                                    <li>{$location->street}</li>
                                    <li>{$location->area}</li>
                                    <li>{$location->city}</li>
                                    <li>From {echo Framework\StringMethods::datetime_to_text($event->start)}</li>
                                    <li>To {echo Framework\StringMethods::datetime_to_text($event->end)}</li>
                                </ul>
                                <a href="#"><i class="fa fa-calendar"></i> Add to My Calendar</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Organizer
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <p>{echo $organizer->name}</p>
                                <ul>
                                    <li><i class="fa fa-facebook"></i> facebook.com/imorganiser</li>
                                    <li><i class="fa fa-twitter"></i> @imorganiser</li>
                                    <li><i class="fa fa-globe"></i> http://www.organiserweb.com</li>
                                </ul>
                                <a href="#" class="btn btn-theme btn-theme-grey-dark btn-theme-md">Send Message <i class="fa fa-plus-circle"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <!-- /Sidebar -->
    </div>
</section>
<!-- /PAGE -->
