<section class="page-section image breadcrumbs overlay">
    <div class="container">
        <h1>INQUIRY</h1>
        <ul class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="/e">Events</a></li>
            <li class="active">Inquiry</li>
        </ul>
    </div>
</section>

{if isset($message)}
<div class="alert alert-success alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    {echo $message}
</div>
{/if}

<!-- PAGE -->
<section class="page-section with-sidebar sidebar-right first-section light">
    <div class="container">
        <!-- Content -->
        <section id="content" class="content col-sm-12 col-md-12 col-lg-12">
            <form id="registration-form" name="registration-form" class="registration-form registration-form-alt" action="" method="post">
                <h1 class="section-title">
                    <span class="icon-inner"><span class="fa-stack"><i class="fa rhex fa-stack-2x"></i><i class="fa fa-ticket fa-stack-1x"></i></span></span>
                    <span class="title-inner">Event Details<small></small></span>
                </h1>
                <div class="row">
                    <div class="col-sm-12 form-alert"></div>
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group with-icon">
                            <i class="fa fa-calendar"></i>
                            <input type="text" name="title" class="form-control input-name" data-toggle="tooltip" title="Name is required" placeholder="Event Title" required />
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group with-icon">
                            <i class="fa fa-globe"></i>
                            <input type="text" name="city" class="form-control input-name" data-toggle="tooltip" title="City is required" placeholder="Event City Here" />
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group selectpicker-wrapper">
                            <select class="selectpicker input-price" name="type" data-live-search="true" data-width="100%" data-toggle="tooltip" title="Select Your Event Type">
                                <option>Select Your Event Type</option>
                                <option value="ticketing">Ticketing</option>
                                <option value="conference">Open</option>
                                <option value="rsvp">RSVP</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 form-alert"></div>
                    <div class="col-sm-12 col-md-12">
                        <div class="form-group">
                            <textarea class="form-control" rows="3" name="description" placeholder="Event Description"></textarea>
                        </div>
                    </div>
                </div>

                <hr class="page-divider transparent"/>
                <h1 class="section-title">
                    <span class="icon-inner"><span class="fa-stack"><i class="fa rhex fa-stack-2x"></i><i class="fa fa-ticket fa-stack-1x"></i></span></span>
                    <span class="title-inner">User Details<small></small></span>
                </h1>
                <div class="row">
                    <div class="col-sm-12 form-alert"></div>
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group with-icon">
                            <i class="fa fa-user"></i>
                            <input type="text" name="name" class="form-control input-name" data-toggle="tooltip" title="Name is required" placeholder="Name and Surname" />
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group with-icon">
                            <i class="fa fa-envelope"></i>
                            <input type="text" name="email" class="form-control input-email" data-toggle="tooltip" title="Mail is required" placeholder="Your Mail Here" />
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group with-icon">
                            <i class="fa fa-phone"></i>
                            <input type="tel" name="phone" class="form-control input-email" data-toggle="tooltip" title="Phone is required" placeholder="Your Mobile number Here" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 overflowed">
                        <div class="text-center margin-top">
                            <input type="hidden" name="action" value="submitEvent">
                            <button class="btn btn-theme btn-theme-xl submit-button" type="submit"> Go <i class="fa fa-arrow-circle-right"></i></button>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        <!-- /Content -->
        <hr class="page-divider transparent visible-xs" />
    </div>
</section>
<!-- /PAGE -->
