<section class="page-section image breadcrumbs overlay">
    <div class="container">
        <h1>About US</h1>
        <ul class="breadcrumb">
            <li>
                <a href="/home">Home</a>
            </li>
            <li class="active">About us</li>
        </ul>
    </div>
</section>
<!-- PAGE -->
<section class="page-section with-sidebar sidebar-right first-section">
    <div class="container">
        <!-- Content -->
        <section id="content" class="content">
            <div class="row">
                <div class="col-sm-6">
                    <h1 class="section-title">
                        <span data-animation="flipInY" data-animation-delay="100" class="icon-inner"><span class="fa-stack"><i class="fa rhex fa-stack-2x"></i><i class="fa fa-ticket fa-stack-1x"></i></span></span>
                        <span data-animation="fadeInRight" data-animation-delay="100" class="title-inner">About Us </span>
                    </h1>
                    <p>
                        Established in 2015, MyEvent Group is a full-fledged event management company, striving to create unparalleled event experiences. Our established systems and processes ensure a seamless flow of work from beginning to end. We break barriers when we need to. And go that extra mile.
                    </p>
                    <p>
                        Although based in Mumbai, our capabilities go beyond national and international borders. Our expertise transcends industries. From Auto, IT, and Retail to Financial Services, Tourism and F&amp;B, we have made our mark as a company that exceeds expectations. We understand that one size doesn't fit all, and that is why your events are tailor-made to your requirements.                        
                    </p>
                </div>
                <div class="col-sm-6">
                    <div class="post-media">
                        <img src="{echo CDN}img/about-us.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                   <div class="post-media">
                       <img src="{echo CDN}img/preview/blog-post-3.jpg" alt="">
                   </div> 
                </div>
                <div class="col-sm-6">
                    <p>
                        From the initial conception (pre-event publicity, venue research &amp; booking, transport, catering), to turnkey production (set-up, on-site management, staffing, stage designing, entertainment, security), to post-event support (final material distribution, delegate attendance assessment, post-event report) – we take care of everything.
                    </p>
                    <p>
                        Despite our focus on the corporate market, we dedicate equal attention to private parties, weddings, and intimate events, through our sister concern – The Wedding Company. We incorporate originality and creativity to enhance the event experience, and create inspiring, exhilarating celebrations.
                    </p>
                </div>
            </div>
        </section>
        <!-- /Content -->
    </div>
</section>
<!-- /PAGE -->