<section class="page-section image breadcrumbs overlay">
    <div class="container">
        <h1>Features</h1>
        <ul class="breadcrumb">
            <li>
                <a href="/home">Home</a>
            </li>
            <li class="active">Features</li>
        </ul>
    </div>
</section>
<!-- PAGE -->
<section class="page-section with-sidebar sidebar-right first-section">
    <div class="container">
        <!-- Content -->
        <section id="content" class="content">
            <div class="row">
                <div class="col-sm-6">
                    <h1 class="section-title">
                        <span data-animation="flipInY" data-animation-delay="100" class="icon-inner"><span class="fa-stack"><i class="fa rhex fa-stack-2x"></i><i class="fa fa-ticket fa-stack-1x"></i></span></span>
                        <span data-animation="fadeInRight" data-animation-delay="100" class="title-inner">Online Registeration </span>
                    </h1>
                    <p>
                        With our one page form and WYSIWYG (What You See Is What You Get) editor, setting up an event page is a snap. Save it as a draft, preview it or publish it right away. we will automatically embed a map and provide integration with calendars and social networks. Publish your customized page online and share the unique URL. Leverage the web for a ticket counter that's available worldwide, 24/7. Attendees can register by selecting the ticket type and quantity. If you have discount codes setup for your event, attendees can easily enter them whilst registering.
                    </p>
                </div>
                <div class="col-sm-6">
                    <div class="post-media">
                        <img src="{echo CDN}img/onlineEvent.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="post-media">
                        <img src="{echo CDN}img/attendees.png" alt="">
                    </div>
                </div>
                <div class="col-sm-6">
                    <h1 class="section-title">
                        <span data-animation="flipInY" data-animation-delay="100" class="icon-inner"><span class="fa-stack"><i class="fa rhex fa-stack-2x"></i><i class="fa fa-ticket fa-stack-1x"></i></span></span>
                        <span data-animation="fadeInRight" data-animation-delay="100" class="title-inner">Sell Events Tickets</span>
                    </h1>
                    <p>
                        Four payment processors available to make the online payment transactions more comfortable, Organizer can choose the preferred option from the available. Create as many tickets as you wish to offer. Free tickets, paid tickets, all are welcome. Set your own sale periods (good for offering early–bird tickets). Limit the quantity on sale or let them run wild. Require slab based pricing for bulk ticket purchases? DoAttend has that covered too. Discounts are just as powerful as tickets. Create multiple discount coupons, configure them as percentages or absolute amounts and set their validity period.
                    </p>
                </div>
            </div>
        </section>
        <!-- /Content -->
    </div>
</section>
<!-- /PAGE -->