<section class="page-section image breadcrumbs overlay">
    <div class="container">
        <h1>Services</h1>
        <ul class="breadcrumb">
            <li>
                <a href="/home">Home</a>
            </li>
            <li class="active">Services</li>
        </ul>
    </div>
</section>
<!-- PAGE -->
<section class="page-section with-sidebar sidebar-right first-section">
    <div class="container">
        <!-- Content -->
        <section id="content" class="content">
            <div class="row">
                <div class="col-sm-6">
                    <h1 class="section-title">
                        <span data-animation="flipInY" data-animation-delay="100" class="icon-inner"><span class="fa-stack"><i class="fa rhex fa-stack-2x"></i><i class="fa fa-ticket fa-stack-1x"></i></span></span>
                        <span data-animation="fadeInRight" data-animation-delay="100" class="title-inner">Corporate Events </span>
                    </h1>
                    <p>
                        The experience we have accumulated over the years prepares us to meet all your expectations in the corporate event management spectrum.  Our formidable team is armed with a bevy of ideas that will match any budget. We ensure smooth working from start to end. Our team will competently resolve everything from slight glitches to complex conundrums. A sales’ team meet, an award ceremony or an HR initiative – we will do it all.
                    </p>
                </div>
                <div class="col-sm-6">
                    <div class="post-media">
                        <img src="{echo CDN}img/corporate.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="post-media">
                        <img src="{echo CDN}img/lifestyle.jpg" alt="">
                    </div>
                </div>
                <div class="col-sm-6">
                    <h1 class="section-title">
                        <span data-animation="flipInY" data-animation-delay="100" class="icon-inner"><span class="fa-stack"><i class="fa rhex fa-stack-2x"></i><i class="fa fa-ticket fa-stack-1x"></i></span></span>
                        <span data-animation="fadeInRight" data-animation-delay="100" class="title-inner">Lifestyle Events </span>
                    </h1>
                    <p>
                        Your premium and high profile parties, fashion shows, brunches etc., come within this category. Our premium standard of quality allows us to be able to provide you with unparalleled events, giving your guests an experience they will remember. Our eye for detail enables us to concentrate on even the finer things involved with any event, as well as the event on a broader scale.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h1 class="section-title">
                        <span data-animation="flipInY" data-animation-delay="100" class="icon-inner"><span class="fa-stack"><i class="fa rhex fa-stack-2x"></i><i class="fa fa-ticket fa-stack-1x"></i></span></span>
                        <span data-animation="fadeInRight" data-animation-delay="100" class="title-inner">Conference and Seminar Management </span>
                    </h1>
                    <p>
                        We comprehend all the intricacies involved in your conferences and seminars and can effectively deliver the successful exchange of information, whether it is a penetration of a new brand to potential customers, retention of old clients, workshops, annual events, or just an informal gathering. We’re geared to successfully handle anything you need.
                    </p>
                </div>
                <div class="col-sm-6">
                    <div class="post-media">
                        <img src="{echo CDN}img/conferences.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="post-media">
                        <img src="{echo CDN}img/launch.jpg" alt="">
                    </div>
                </div>
                <div class="col-sm-6">
                    <h1 class="section-title">
                        <span data-animation="flipInY" data-animation-delay="100" class="icon-inner"><span class="fa-stack"><i class="fa rhex fa-stack-2x"></i><i class="fa fa-ticket fa-stack-1x"></i></span></span>
                        <span data-animation="fadeInRight" data-animation-delay="100" class="title-inner">Product Launches &amp; Brand Activations </span>
                    </h1>
                    <p>
                        We ensure the customer connects with our clients’ product on a level that matters. Through promotional activities that will effectively infiltrate market segments, we will bring your brand to life. To us, product launches and brand activations are about giving our clients the ideas and the platform that is needed to showcase their products, in order to propel them into the market in an effective manner.
                    </p>
                </div>
            </div>
        </section>
        <!-- /Content -->
    </div>
</section>
<!-- /PAGE -->